body {
  font-family: Arial, sans-serif;
  margin: 40px;
  background: #fafafa;
  color: #222;
}

.logo {
  width: 120px;
}

header {
  text-align: center;
  margin-bottom: 60px;
}

a {
  color: #7b3bff;
  font-weight: bold;
}
